<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <title>GROOTS Home</title>

  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">GROOTS Portal</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('assets') }}">Assets</a>
              <a class="nav-item nav-link" href="{{ url_for('members') }}">Members</a>
              <a class="nav-item nav-link" href="{{ url_for('meetings') }}">Meetings</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container mb-5">
      <div class="row">
        <div class="col-md-8">

          {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <div class="mb-4">
            <h2 class="text-info float-left">Meeting Details</h2>
            <button type="button" class="btn btn-info float-right mb-3" data-toggle="modal"
              data-target="#newMeetingModal">Record a Meeting</button>
            <div class="clearfix"></div>
          </div>

          <div class="card">
            <div class="card-header">
              <strong>Meeting Details</strong>
            </div>
            <div class="card-body">

              <div class="table-responsive">
                <table id="meetingsTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Group Name</th>
                      <th>No. of Members</th>
                      <th>Topic</th>
                      <th>Location</th>
                      <th>Date Held</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Topic</th>
                      <th>Location</th>
                      <th>Date Held</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if meetings %}
                    {% for meeting in meetings %}
                    <tr>
                      <td>{{meeting[3]}}</td>
                      <td>{{meeting[4]}}</td>
                      <td>{{meeting[0]}}</td>
                      <td>{{meeting[1]}}</td>
                      <td>{{meeting[2]}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>Loading...</p>
                    {% endif %}
                  </tbody>
                </table>
              </div>

            </div>
          </div>


        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>More About Us</h3>
            <p class='text-muted'>Learn more about us.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Projects</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel"
      aria-hidden="true">
      <div class="modal-dialog mw-100 w-50" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-info" id="newMeetingModalLabel">Record a New Meeting</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="newMeetingForm">

              <div id="alertScs" class="alert alert-success alert-dismissible fade show d-none" role="alert">
                <strong>New meeting recorded successfully..</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="category">Group</label>
                </div>
                {% if groups %}
                <select class="custom-select" id="groupId" required>
                  <option selected disabled>Choose...</option>
                  {% for group in groups %}
                  <option value="{{ group[0] }}">{{ group[1] }}</option>
                  {% endfor %}
                </select>
                {% else %}
                <p>Loading...</p>
                {% endif %}
              </div>

              <div class="form-group">
                <input type="text" id="topic" class="form-control" placeholder="Topic *" required>
              </div>

              <div class="form-group">
                <input type="text" id="location" class="form-control" placeholder="Location *" required>
              </div>

              <div class="form-group">
                <input type="date" id="dateHeld" class="form-control">
              </div>

          </div>
          <div class="modal-footer">
            <button id="closeModalBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ url_for('static', filename='meetings.js') }}"></script>
  </body>
  </body>

</html>